---
import Layout from '../layouts/Main.layout.astro'
import Header from '../components/Header.component.astro';
import SortButtons from '../components/SortButtons.component.astro';
import SearchBar from '../components/SearchBar.component.astro';
import PriceSearchBar from '../components/PriceSearchBar.component.astro';
import GroupItems from '../components/GroupItems.component.astro'
import { CATEGORIES_URL } from '../js/constants/API.js';

import getData from '../js/services/getData.js';

const categories = await getData({ URL: CATEGORIES_URL });
---

<Layout>
  <Header 
    title="Categorías"
    content="Verás aquí todas las categorías del sitio." />

  <main class="pb-5 container">
    <div class="container">
      <div class="row m-0">
        <div class="col text-end">
          <SortButtons />
        </div>
        <div class="row container p-0 m-0 gap-3">
          <div class="row col-lg">
            <SearchBar />
          </div>
          <div class="col row">
            <PriceSearchBar />
          </div>
        </div>
        
        <GroupItems />
    </div>
  </main>

</Layout>