---
import '../css/bootstrap.min.css'
import MainHead from '../components/MainHead/MainHead.component.astro';
import LoginCard from '../components/LoginCard/LoginCard.component.astro'
---

<html lang="en">
	<MainHead />
	<body>
    <LoginCard />
	</body>
</html>