---
import Layout from '../layouts/Main.layout.astro'
---

<Layout>
  <main>
    <div class="container d-flex flex-column align-items-center">
      <div
        class="row d-flex flex-column justify-content-center w-100 flex-md-row"
      >
        <div
          class="pt-5 container d-flex flex-column justify-content-center col-md-7 col-xxl-5"
        >
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="3"
                aria-label="Slide 4"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src=""
                  class="d-block w-100 carousel-image-handler"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src=""
                  class="d-block w-100 carousel-image-handler"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src=""
                  class="d-block w-100 carousel-image-handler"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src=""
                  class="d-block w-100 carousel-image-handler"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <h5 class="pt-4 d-none">Imágenes ilustrativas</h5>
        </div>
        <div class="container col col-md-5">
          <div class="container pt-5" id="product-description"></div>
        </div>
      </div>
      <div class="container pt-5" id="comments-container">
        <h4 class="mb-4">Comentarios</h4>
      </div>
      <div class="container pt-2">
        <form id="form-save-comment">
          <h4>Comentar</h4>
          <label class="form-label" for="comment-area">Tu opinión:</label
          ><br />
          <textarea rows="3" id="comment-area" class="form-control"></textarea
          ><br />

          <div class="mr-5">
            <label class="form-label" for="punctuation">Tu puntuación:</label
            ><br />
            <select class="form-select" id="punctuation">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>

          <div class="pt-3">
            <button
              type="submit"
              id="btn-add-comment"
              class="btn btn-primary"
            >
              Enviar
            </button>
          </div>
        </form>
      </div>
      <div class="container mt-5">
        <h4>Productos relacionados</h4>
        <div
          class="pt-2 justify-content-center d-md-flex justify-content-md-start"
          id="related-container"
        ></div>
      </div>
    </div>
  </main>
</Layout>