---
import Card from './Card.component.astro'

const albumElements = [
  {
    title: 'Autos',
    description: 'Los mejores precios en autos 0 kilómetro, de alta y media gama.',
    imageURL: 'img/cars_index.jpg',
    altImage: 'Imagen representativa de la categoría "Autos"',
  },
  {
    title: 'Juguetes',
    description: 'Encuentra aquí los mejores precios para niños/as de cualquier edad.',
    imageURL: 'img/toys_index.jpg',
    altImage: 'Imagen representativa de la categoría "Juguetes"'
  },
  {
    title: 'Muebles',
    description: 'Muebles antiguos, nuevos y para ser armados por uno mismo.',
    imageURL: 'img/furniture_index.jpg',
    altImage: 'Imagen representativa de la categoría "Muebles"'
  },
]
---
<div class="album py-5 bg-light" id="album">
  <div class="container">
    <div class="row">
      {albumElements.map(({ title, description, imageURL, altImage }) => {
      return (<div class="col-md-4">
                <Card 
                  title={title} 
                  description={description}
                  imageURL={imageURL}
                  altImage={altImage} />
              </div>)
      })}
    </div>
    <div class="row">
      <a
        class="btn btn-light btn-lg btn-block"
        href="categories.html"
        id="btn-category">
        Y mucho más!
      </a>
    </div>
  </div>
</div>