---
const { title, description, imageURL, altImage } = Astro.props
---
<style>
  div {
    cursor: pointer;
  }
</style>

<div
  class="card mb-4 shadow-sm custom-card"
  id="autos">
  <img
    class="bd-placeholder-img card-img-top"
    src={imageURL}
    alt={altImage}
    loading="lazy" />
  <h3 class="m-3">{title}</h3>
  <div class="card-body">
    <p class="card-text">
      {description}
    </p>
  </div>
</div>