---
const { title, elementType } = Astro.props;
---
<div class="text-center">
  <h1>{ title }</h1>
  <p>
    Verás aquí todos los productos de la categoría
    <strong>{ elementType }</strong>
  </p>
</div>