---
import "../css/bootstrap.min.css";
---
<script>
  class Greet extends HTMLElement {
    constructor() {
      super();
      
      const { email } = JSON.parse(localStorage.getItem('user'))
      this.innerHTML = `Hola ${email}`
    }
  }

  customElements.define('astro-greet', Greet)
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-1">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100 justify-content-between align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link active" href="index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="categories.html">Categorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sell.html">Vender</a>
        </li>
        <div class="d-flex flex-row">
          <li class="nav-item d-flex">
            <div class="nav-link dropdown" id="loggeado">
              <button class="btn dropdown-toggle nav-btn" style="color: rgba(255,255,255,.55);" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <astro-greet />
              </button>
              <ul class="dropdown-menu user-dropdown ms-lg-3" aria-labelledby="dropdownMenuButton1">
                <li><a id="cart" class="dropdown-item" href="#">Mi carrito</a></li>
                <li><a id="profile" class="dropdown-item" href="#">Mi perfil</a></li>
                <li><a id="finish" class="dropdown-item" href="#">Cerrar sesión</a></li>
              </ul>
            </div>
          </li>
          <button type="button" class="btn btn-dark" id="theme-toggler">
            <img
              src="src/icons/moon-stars-fill.svg"
              width="20"
              height="20"
              style="filter: invert(100%)" />
          </button>
        </div>
      </ul>
    </div>
  </div>
</nav>