---
---

<div class="col pe-1">
  <p class="font-weight-normal text-end my-2">Precio</p>
</div>
<div class="col p-0">
  <input
    class="form-control"
    type="number"
    placeholder="min." />
</div>
<div class="col p-0">
  <input
    class="form-control"
    type="number"
    placeholder="máx." />
</div>
<div class="col p-0">
  <div class="btn-group" role="group">
    <button class="btn btn-light btn-block">
      Filtrar
    </button>
    <button class="btn btn-light btn-sm">
      Limpiar
    </button>
  </div>
</div>