---

// This is what it should map()
// <div class="related card m-3 cursor-active" style="max-width: 18rem;" id="${id}">
//   <img src="${image}" class="card-img-top" alt="${name}">
//   <div class="card-body">
//     <h5 class="card-title">${name}</h5>
//   </div>
// </div>
---



<div class="container mt-5">
  <h4>Productos relacionados</h4>
  <div
    class="pt-2 justify-content-center d-md-flex justify-content-md-start"
  >
  <!-- SLOT -->
  </div>
</div>