---
---

<div class="input-group">
  <input
    type="text"
    class="form-control"
    placeholder="Buscar producto"
    aria-label="Buscar producto"
    aria-describedby="basic-addon2" />
  <div class="input-group-append">
    <button
      class="btn btn-primary"
      type="button">
      Buscar
    </button>
  </div>
</div>