<div
  class="btn-group btn-group-toggle mb-4"
  data-bs-toggle="buttons">
  <input
    type="radio"
    class="btn-check"
    name="options" />
  <label class="btn btn-light" for="sortAsc">
    <img src="/icons/sort-numeric-up.svg" height="24" alt="Sort numeric up">
  </label>
  <input
    type="radio"
    class="btn-check"
    name="options" />
  <label class="btn btn-light" for="sortDesc">
    <img src="/icons/sort-numeric-down.svg" height="24" alt="Sort numeric down">
  </label>
  <input
    type="radio"
    class="btn-check"
    name="options"
    checked />
  <label class="btn btn-light" for="sortByCount">
    <img src="/icons/sort-down.svg" height="24" alt="Sort popularity down">
  </label>
</div>