---
---

<style>
  div {
    font-family: 'Verdana', serif !important;

    height: 50vh;
    padding: 5em inherit;
    margin-bottom: 0;
    background-color: #53c0fb;
    background: url('../../img/cover_back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
  } 
</style>

<div class="jumbotron text-center"></div>