---
import Layout from '../../layouts/Main.layout.astro';
import Header from '../../components/Header.component.astro';
import SearchBar from '../../components/SearchBar.component.astro';
import SortButtons from '../../components/SortButtons.component.astro';
import PriceSearchBar from '../../components/PriceSearchBar.component.astro';
import GroupItems from '../../components/GroupItems.component.astro';

import { CATEGORIES_URL } from '../../js/constants/API.js';
import getData from '../../js/services/getData.js';

const { id } = Astro.params;

export async function getStaticPaths() {
  const categories = await getData({ URL: CATEGORIES_URL });

  return categories.map(({ name }) => {
    return {
      params: { id: name.toLowerCase() }
    }
  });
};

const categories = await getData({ URL: CATEGORIES_URL });
const [ currentPageCategory ] = categories.filter(category => category.name.toLowerCase() === id);
---

<Layout>
  <main class="pb-5 pt-5 container">
    <Header 
      title="Productos" 
      elementType={currentPageCategory.name} />

    <div class="container">
      <div class="row m-0">
        <div class="col text-end">
          <SortButtons />
        </div>
        <div class="row container p-0 m-0 gap-3">
          <div class="row col-lg">
            <SearchBar />
          </div>
          <div class="col row">
            <PriceSearchBar />
          </div>
        </div>
      </div>
      
      <GroupItems id={ currentPageCategory.id } />
    </div>
  </main>
</Layout>